@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.wrap-img img {
  max-width: 100%;
  height: auto;
}

.l-inner {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .l-inner {
    padding: 0;
    width: 1280px;
    margin-inline: auto;
  }
}

.l-header {
  position: relative;
}
.l-header .l-inner {
  height: 111px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .l-header .l-inner {
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-top: 50px;
    padding-bottom: 0;
    gap: 196px;
  }
}

.logo {
  font-size: 0;
  line-height: 0;
  flex: 0 0 178px;
}
@media (min-width: 768px) {
  .logo {
    flex: 0 0 240px;
  }
}

@media (min-width: 768px) {
  .wrap-menu {
    flex: 1;
  }
}

.img-menu {
  width: 40px;
}
@media (min-width: 768px) {
  .img-menu {
    display: none;
  }
}

.wrap-area-menu {
  display: none;
}
.wrap-area-menu.accordionActive {
  display: block;
  position: absolute;
}
@media (min-width: 768px) {
  .wrap-area-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.list-link-menu {
  display: none;
}
@media (min-width: 768px) {
  .list-link-menu {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  .list-link-menu > li {
    display: flex;
    align-items: center;
  }
}
.list-link-menu .link {
  font-size: 2.5rem;
  line-height: 1;
  text-decoration: none;
  color: #545454;
  transition: opacity 0.3s;
}
.list-link-menu .link.active {
  color: #2e2e2e;
  text-decoration: underline;
}
.list-link-menu .link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.list-user-control {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.list-user-control > li {
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) {
  .list-category {
    display: flex;
    gap: 12px;
  }
  .list-category a {
    padding: 10px 15px;
    background-color: #efefef;
    border-radius: 5px;
    display: block;
    color: #121212;
    text-decoration: none;
  }
}

.wrap-main-top {
  display: none;
}
@media (min-width: 768px) {
  .wrap-main-top {
    margin-top: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
}

.wrap-search {
  background-image: url(/images/icon-search.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center right;
  min-height: 50px;
}
.wrap-search:has(input:focus) {
  flex: 1;
}
.wrap-search:has(input:focus) input {
  width: 100%;
  font-size: 2.4rem;
  line-height: 1;
  padding: 8px;
}
.wrap-search input {
  height: 100%;
  min-height: 50px;
  width: 50px;
  font-size: 0;
  line-height: 0;
}

.wrap-sect {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .wrap-sect {
    margin-top: 100px;
  }
}

.wrap-hdg {
  display: flex;
  justify-content: space-between;
}

.hdg-lv2 {
  font-size: 2rem;
  line-height: 1;
  color: #000000;
  font-weight: 500;
}
@media (min-width: 768px) {
  .hdg-lv2 {
    font-size: 5rem;
  }
}

.txt-link a {
  font-size: 2rem;
  line-height: 1;
  color: #000000;
  font-weight: 400;
}

.list-product {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}
.list-product > li {
  width: 100%;
}
@media (min-width: 768px) {
  .list-product {
    margin-top: 50px;
  }
  .list-product > li {
    width: calc((100% - 34px) / 3);
  }
}

.wrap-product {
  padding: 30px 16px 0;
  background-color: #f0f0f0;
  position: relative;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
}
.wrap-product .head {
  position: relative;
}
.wrap-product .cnt {
  background-color: #ffffff;
  margin-inline: -16px;
  padding: 26px 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.wrap-product .type {
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 500;
}
.wrap-product .save {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.wrap-product .save a {
  display: block;
  background-image: url(/images/icon-saved.svg);
  background-size: 34px;
  background-repeat: no-repeat;
  font-size: 0;
  line-height: 0;
  width: 34px;
  height: 34px;
}
.wrap-product .img-product {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-product .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.wrap-product .info span {
  display: block;
  font-size: 1.4rem;
  line-height: 1;
}
.wrap-product .info strong {
  font-weight: 700;
}
.wrap-product .info del {
  color: rgba(0, 0, 0, 0.41);
  margin-right: 8px;
}
.wrap-product .rating {
  margin-top: 6px;
  color: #FAAA4C;
}
@media (min-width: 768px) {
  .wrap-product .head {
    height: 284px;
  }
  .wrap-product .img-product {
    width: 238px;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .wrap-product .img-product img {
    -o-object-fit: contain;
       object-fit: contain;
    height: inherit;
  }
  .wrap-product .info span {
    font-size: 1.6rem;
  }
}

.wrap-btn.add-to-cart > a, .wrap-btn.add-to-cart button {
  display: block;
  background-color: #000000;
  border-radius: 32px;
  color: #FFFFFF;
  font-size: 1.3rem;
  line-height: 1;
  padding: 10px 8px;
  text-decoration: none;
  padding-right: 34px;
  position: relative;
}
.wrap-btn.add-to-cart > a:before, .wrap-btn.add-to-cart button:before {
  content: "";
  display: block;
  -webkit-mask-image: url("/images/icon-bag.svg");
          mask-image: url("/images/icon-bag.svg");
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: 21px;
          mask-size: 21px;
  width: 21px;
  height: 21px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8px;
  margin: auto;
}
@media (min-width: 768px) {
  .wrap-btn.add-to-cart {
    font-size: 1.6rem;
  }
}

.wrap-bg {
  background-color: #F0F0F0;
  padding: 30px 22px;
}
@media (min-width: 768px) {
  .wrap-bg {
    padding: 67px 21px;
  }
}

.list-comment {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.list-comment > li {
  width: 100%;
}
@media (min-width: 768px) {
  .list-comment {
    margin-top: 50px;
    gap: 14px;
  }
  .list-comment > li {
    width: calc((100% - 28px) / 3);
    display: flex;
    flex-direction: column;
  }
}

.wrap-comment {
  border-radius: 14px;
  padding: 15px 27px;
  background-color: #FFFFFF;
}
.wrap-comment + .wrap-comment {
  margin-top: 14px;
  flex: 1;
}
.wrap-comment .wrap-img {
  width: 76px;
  height: 76px;
  margin-inline: auto;
  border-radius: 50%;
  background-color: #E5E5E5;
}
.wrap-comment .ttl {
  margin-top: 10px;
  font-size: 1.9rem;
  line-height: 1.2;
  font-weight: 500;
}
.wrap-comment .desc {
  margin-top: 10px;
  font-size: 1.9rem;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .wrap-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.u-fw-bold {
  font-weight: 700 !important;
}

.l-footer {
  margin-top: 24px;
  background-color: #000000;
  padding: 24px 0 63px;
}
.l-footer .l-inner {
  text-align: center;
}
.l-footer small {
  font-size: 1.1rem;
  line-height: 1.2;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .l-footer {
    margin-top: 100px;
    padding: 22px 0;
  }
}/*# sourceMappingURL=style.css.map */