@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@mixin mq-pc {
  @media (min-width: 768px) {
    @content;
  }
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
.wrap-img {
  img {
    max-width: 100%;
    height: auto;
  }
}
.l-inner {
  padding: 0 20px;
  @include mq-pc {
    padding: 0;
    width: 1280px;
    margin-inline: auto;
  }
}
.l-header {
  position: relative;
  .l-inner {
    height: 111px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  @include mq-pc {
    .l-inner {
      justify-content: space-between;
      align-items: center;
      height: auto;
      padding-top: 50px;
      padding-bottom: 0;
      gap: 196px;
    }
  }
}
.logo {
  font-size: 0;
  line-height: 0;
  flex: 0 0 178px;
  @include mq-pc {
    flex: 0 0 240px;
  }
}
.wrap-menu {
  @include mq-pc {
    flex: 1;
  }
}
.img-menu {
  width: 40px;
  @include mq-pc {
    display: none;
  }
}
.wrap-area-menu {
  display: none;
  &.accordionActive {
    display: block;
    position: absolute;
  }
  @include mq-pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.list-link-menu {
  display: none;
  @include mq-pc {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    > li {
      display: flex;
      align-items: center;
    }
  }
  .link {
    font-size: 2.5rem;
    line-height: 1;
    text-decoration: none;
    color: #545454;
    transition: opacity 0.3s;
    &.active {
      color: #2e2e2e;
      text-decoration: underline;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
.list-user-control {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  > li {
    width: 50px;
    height: 50px;
  }
}
.list-category {
  @include mq-pc() {
    display: flex;
    gap: 12px;
    a {
      padding: 10px 15px;
      background-color: #efefef;
      border-radius: 5px;
      display: block;
      color: #121212;
      text-decoration: none;
    }
  }
}
.wrap-main-top {
  display: none;
  @include mq-pc {
    margin-top: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
}
.wrap-search {
  background-image: url(/images/icon-search.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center right;
  min-height: 50px;
  &:has(input:focus) {
    flex: 1;
    input {
      width: 100%;
      font-size: 2.4rem;
      line-height: 1;
      padding: 8px;
    }
  }
  input {
    height: 100%;
    min-height: 50px;
    width: 50px;
    font-size: 0;
    line-height: 0;
  }
}
.wrap-sect {
  margin-top: 50px;
  @include mq-pc {
    margin-top: 100px;
  }
}
.wrap-hdg {
  display: flex;
  justify-content: space-between;
}
.hdg-lv2 {
  font-size: 2rem;
  line-height: 1;
  color: #000000;
  font-weight: 500;
  @include mq-pc {
    font-size: 5rem
  }
}
.txt-link {
  a {
    font-size: 2rem;
    line-height: 1;
    color: #000000;
    font-weight: 400;
  }
}
.list-product {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  > li {
    width: 100%;
  }
  @include mq-pc() {
    margin-top: 50px;
    > li {
      width: calc(calc(100% - 34px) / 3);
    }
  }
}
.wrap-product {
  padding: 30px 16px 0;
  background-color: #f0f0f0;
  position: relative;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  .head {
    position: relative;
  }
  .cnt {
    background-color: #ffffff;
    margin-inline: -16px;
    padding: 26px 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: space-between;
  }
  .type {
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 500;
  }
  .save {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    a {
      display: block;
      background-image: url(/images/icon-saved.svg);
      background-size: 34px;
      background-repeat: no-repeat;
      font-size: 0;
      line-height: 0;
      width: 34px;
      height: 34px;
    }
  }
  .img-product {
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    span {
      display: block;
      font-size: 1.4rem;
      line-height: 1;
    }
    strong {
      font-weight: 700;
    }
    del {
      color: rgba(0, 0, 0, 0.41);
      margin-right: 8px;
    }
  }
  .rating {
    margin-top: 6px;
    color: #FAAA4C;
  }
  @include mq-pc {
    .head {
      height: 284px;
    }
    .img-product {
      width: 238px;
      height: 270px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      img {
        object-fit: contain;
        height: inherit;
      }
    }
    .info {
      span {
        font-size: 1.6rem;
      }
    }
  }
}
.wrap-btn {
  &.add-to-cart {
    > a, button {
      display: block;
      background-color: #000000;
      border-radius: 32px;
      color: #FFFFFF;
      font-size: 1.3rem;
      line-height: 1;
      padding: 10px 8px;
      text-decoration: none;
      padding-right: 34px;
      position: relative;
      &:before {
        content: "";
        display: block;
        mask-image: url("/images/icon-bag.svg");
        mask-position: center center;
        mask-size: 21px;
        width: 21px;
        height: 21px;
        background-color: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 8px;
        margin: auto;
      }
    }
  }
  @include mq-pc() {
    &.add-to-cart {
      font-size: 1.6rem;
    }
  }
}
.wrap-bg {
  background-color: #F0F0F0;
  padding: 30px 22px;
  @include mq-pc {
    padding: 67px 21px;
  }
}
.list-comment {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  > li {
    width: 100%;
  }
  @include mq-pc {
    margin-top: 50px;
    gap: 14px;
    > li {
      width: calc(calc(100% - 28px) / 3);
      display: flex;
      flex-direction: column;
    }
  }
}
.wrap-comment {
  border-radius: 14px;
  padding: 15px 27px;
  background-color: #FFFFFF;
  & + .wrap-comment {
    margin-top: 14px;
    flex: 1;
  }
  .wrap-img {
    width: 76px;
    height: 76px;
    margin-inline: auto;
    border-radius: 50%;
    background-color: #E5E5E5;
  }
  .ttl {
    margin-top: 10px;
    font-size: 1.9rem;
    line-height: 1.2;
    font-weight: 500;
  }
  .desc {
    margin-top: 10px;
    font-size: 1.9rem;
    line-height: 1.2;
  }
  @include mq-pc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.u-fw-bold {
  font-weight: 700 !important;
}
.l-footer {
  margin-top: 24px;
  background-color: #000000;
  padding: 24px 0 63px;
  .l-inner {
    text-align: center;
  }
  small {
    font-size: 1.1rem;
    line-height: 1.2;
    color: #FFFFFF;
  }
  @include mq-pc {
    margin-top: 100px;
    padding: 22px 0;
  }
}