body {
  font-size: 1.6rem;
}

.wrap-img img {
  max-width: 100%;
  height: auto;
}

.l-inner {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .l-inner {
    padding: 0;
    width: 1280px;
    margin-inline: auto;
  }
}

.l-header {
  position: relative;
}
.l-header .l-inner {
  height: 111px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .l-header .l-inner {
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-top: 50px;
    padding-bottom: 0;
    gap: 196px;
  }
}

.logo {
  font-size: 0;
  line-height: 0;
  flex: 0 0 178px;
}
@media (min-width: 768px) {
  .logo {
    flex: 0 0 240px;
  }
}

@media (min-width: 768px) {
  .wrap-menu {
    flex: 1;
  }
}

.img-menu {
  width: 40px;
}
@media (min-width: 768px) {
  .img-menu {
    display: none;
  }
}

.wrap-area-menu {
  display: none;
}
.wrap-area-menu.accordionActive {
  display: block;
  position: absolute;
}
@media (min-width: 768px) {
  .wrap-area-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.list-link-menu {
  display: none;
}
@media (min-width: 768px) {
  .list-link-menu {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  .list-link-menu > li {
    display: flex;
    align-items: center;
  }
}
.list-link-menu .link {
  font-size: 2.5rem;
  line-height: 1;
  text-decoration: none;
  color: #545454;
  transition: opacity 0.3s;
}
.list-link-menu .link.active {
  color: #2e2e2e;
  text-decoration: underline;
}
.list-link-menu .link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.list-user-control {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.list-user-control > li {
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) {
  .list-category {
    display: flex;
    gap: 12px;
  }
  .list-category a {
    padding: 10px 15px;
    background-color: #efefef;
    border-radius: 5px;
    display: block;
    color: #121212;
    text-decoration: none;
  }
}

.wrap-main-top {
  display: none;
}
@media (min-width: 768px) {
  .wrap-main-top {
    margin-top: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
}

.wrap-search {
  background-image: url(/images/icon-search.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center right;
  min-height: 50px;
}
.wrap-search:has(input:focus) {
  flex: 1;
}
.wrap-search:has(input:focus) input {
  width: 100%;
  font-size: 2.4rem;
  line-height: 1;
}
.wrap-search input {
  height: 100%;
  min-height: 50px;
  width: 50px;
  font-size: 0;
  line-height: 0;
}

.wrap-sect {
  margin-top: 50px;
}

.wrap-hdg {
  display: flex;
  justify-content: space-between;
}

.hdg-lv2 {
  font-size: 2rem;
  line-height: 1;
  color: #000000;
  font-weight: 500;
}

.txt-link a {
  font-size: 2rem;
  line-height: 1;
  color: #000000;
  font-weight: 400;
}

.list-product {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}
.list-product > li {
  width: 100%;
}
@media (min-width: 768px) {
  .list-product > li {
    width: calc((100% - 34px) / 3);
  }
}

.wrap-product {
  padding: 30px 16px 0;
  background-color: #f0f0f0;
  position: relative;
  border: 1px solid #8b8b8b;
  border-radius: 8px;
}
.wrap-product .cnt {
  background-color: #ffffff;
  margin-inline: -16px;
  padding: 26px 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.wrap-product .type {
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 500;
}
.wrap-product .save {
  position: absolute;
  top: 30px;
  right: 16px;
  z-index: 1;
}
.wrap-product .save a {
  display: block;
  background-image: url(/images/icon-saved.svg);
  background-size: 34px;
  background-repeat: no-repeat;
  font-size: 0;
  line-height: 0;
  width: 34px;
  height: 34px;
}
.wrap-product .img-product {
  margin-top: 17px;
}
.wrap-product .name {
  font-size: 1.4rem;
  line-height: 1;
}
.wrap-product .price {
  margin-top: 4px;
}
.wrap-product .price del {
  color: rgba(0, 0, 0, 0.41);
  margin-right: 8px;
}
.wrap-product .rating {
  margin-top: 6px;
  color: #FAAA4C;
}
@media (min-width: 768px) {
  .wrap-product .head {
    height: 314px;
  }
  .wrap-product .img-product {
    margin-top: 20px;
    width: 238px;
    height: 214px;
  }
}/*# sourceMappingURL=style.css.map */